/* ------------------------------- stylesheet for index page --------------------------- */
.main {
  height: 100vh;
}

body.index {
  text-align: center;
  /* background: url("https://i.imgur.com/c0ZdYLb.jpg"); */
  background-repeat: no-repeat;
  background-image: url("../images/compressed/background-header.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: helvetica;
}

p.index {
  font-size: 22px;
}

button.index {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: rgba(128, 29, 23, 0.7);
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
} 

button:hover{
    background: rgba(128, 29, 23, 0.9);
}

button:focus {
  outline-color: transparent;
  outline-style: none;
}

img.index {
  width: 130px;
  border-radius: 50%;
  filter: drop-shadow(3px 3px 3px rgba(53, 52, 52, 0.5));
  margin: 140px 0px 40px 0px;
}

/* ------------------------------- stylesheet for portfolio page --------------------------- */

.main {
  height: 100vh;
}

body.portfolio {
  /* background-image: url("../images/compressed/portfolio_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  background-color: black;
}

#tocenter {
  dispaly: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 700px;
  margin: 10px auto;
  height: 700px;
  display: grid;
  grid-gap: 15px;
  grid-template-rows: 250px 250px 200px;
  grid-template-columns: 200px 450px;
}

.silence {
  /* add background image and size/position element usng background-* properties */
  /* background-image: url("../images/compressed/img1.jpg"); */
  /* object-fit: fill; */
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  /* background: #F3F3F3; */
}

.leaf {
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
  /* background-color: red; */
}

.lily {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  /* background: #F3F3F3; */
}

.inari {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  /* background-color: blue; */
}

.hakone {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  /* background: yellow; */
}

header, footer {
  margin: 45px 0;
}

/* img.silence, img.lily {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
